@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    box-sizing: border-box;
}

:root {
    --box-shadow: 0 1px 3px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.2);
}

body{
    background-image: linear-gradient(rgba(6, 247, 247, 0.4),rgba(0, 0, 255, 0.4), rgba(255, 255, 0, 0.4),rgba(6, 247, 247, 0.4));
    font-family: 'Playfair Display', serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

h1{
    text-align: center;
}

.selectionContainer{
    width: 600px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selectionContainer >div{
    margin-bottom: 20px;
}

.selectionContainer >div:last-of-type{
    margin-bottom: 0px;
}

.formControl{
    width: 350px;
}

h3{
    text-align: center;
}

h2{
    text-align: center;
}

.cardContainer{
    width: 600px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question{
    font-size: large;
    padding: 10px;
}

.answers button{
    background-color: grey;
    width: 500px;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.answers :hover{
    cursor: pointer;
}

.answers button span{
    color: white;
    font-size: medium;
}

.answers :focus{
    outline: 0;
}

.next, .playAgain{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.playAgain button,.next button{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: medium;
}

.next button{
    background-color: orangered;
}

.playAgain button{
    background-color: greenyellow;
}

.playAgain button:hover,.next button:hover{
    cursor: pointer;
}

.playAgain button:hover,.next :focus{
    outline: 0;
}



@media(max-width: 700px){
    .selectionContainer{
        width: 450px;
    }
    .cardContainer{
        width: 450px;
    }
    .answers button{
        width: 350px;
    }
}

@media(max-width: 500px){
    .selectionContainer{
        width: 300px;
    }
    .formControl{
        width: 250px;
    }
    .cardContainer{
        width: 300px;
    }
    .answers button{
        width: 250px;
    }
}